.application-form {
    padding: 20px;
    border-radius: 5px;
    background-color: $white;
    font-size: 0.85rem;
    label {
        font-weight: 600;
        text-transform: uppercase;
        color: lighten($black, 30%);
    }
    input {
        &:focus {
            border-color: $primary;
        }
    }
    textarea {
        height: 37px;
    }
    .table {
        td {
            width: 20%;
        }
        th {
            width: 20%;
        }
    }
}