.application-form {
    padding: 20px;
    border-radius: 5px;
    background-color: $white;
    font-size: 0.85rem;
    label {
        font-weight: 600;
        text-transform: uppercase;
        color: lighten($black, 30%);
    }
    input {
        &:focus {
            border-color: $primary;
        }
    }
    textarea {
        height: 37px;
    }
    .table {
        td {
            width: 20%;
            border-top: none;
        }
        th {
            width: 20%;
        }
    }
    .course {
        .table {
            td {
                width: 25%;
            }
            th {
                width: 25%;
            }
        }
    }
    .preview {
        .table {
            thead {
                th {
                    border-bottom: 2px solid #034085;
                    background: #c6dbf3;
                }
            }
            .bg {
                background: #F2F2F2;
            }
            h5 {
                color: #1d5590;
                margin-top: 0.5rem;
                font-weight: 600;
            }
            th {
                padding: 0.45rem;
                width: 10%;
            }
            td {
                padding: 0.45rem;
            }
        }
        .table-bordered {
            td {
                border: 1px solid #034085;
            }
            th {
                border: 1px solid #034085;
            }
        }
    }
}