.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $light;
    width: 250px;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: $black;
}

.navbar {}

.header .logo {
    width: 60px;
    display: inline-block;
    margin: 0 auto;
}

.main-content {
    padding-left: 300px;
    padding-right: 50px;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    li {
        border-radius: 5px;
        transition: all 350ms;
        &.active {
            background: $primary;
            a {
                color: $white;
            }
        }
        &:hover {
            background-color: $primary;
            a {
                color: $white;
            }
        }
        a {
            padding: 10px;
            display: block;
            color: $black;
            font-size: 1rem;
            &:hover {
                text-decoration: none;
            }
        }
    }
}